# all ignore #
/*
/.**

# not ignore list

# config
!/.config/
!/.config/**

# vim setting file
!/.vimrc
!/.ideavimrc

# iTerm2
!/iTerm2

# global
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!/install.sh
